.divAdminCampesino {
  background-color: #efe5e0;
  margin-left: 16rem;
  width: auto;
  min-height: fit-content;
  height: 100vh;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.iconLupa {
  color: #717348;
  height: 1.5rem;
  width: 1.5rem;
  &:hover {
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
  }
}

.titulo {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

label {
  font-family: Abril Fatface;
  font-size: 16px;
  font-style: bold;
}

th {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: bold;
}
