
/* Quiero apoyar */
#n103_30 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(10, 52, 89);
}
 
	/* Footer */
	#n103_31 {
		width: 1366px;
		height: 271px;
		overflow: hidden;
		background: rgb(2, 5, 13);
		top: 2338px;
	}
 
		/* Iniciativa para conectar a las comunidades campesinas con los programas y entidades de apoyo, para que puedan acceder a ellas de manera más fácil y poder comercializar sus productos directamente a un precio razonable. Asimismo, aumentar su presencia en el mercado para generar más oportunidades de negocio. */
		#n109_1 {
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(113, 115, 72);
			vertical-align: middle;
			width: 549px;
			transform: translate(0px, 0px);
			line-height: 16.4063px;
			height: 74px;
			left: 198px;
			top: 107px;
		}
 
 
			/* Kausachun Perú */
			#n103_34 {
				font-family: Geo;
				font-size: 30px;
				font-weight: 400;
				letter-spacing: -2.4px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 156px;
				transform: translate(0px, 0px);
				line-height: 35.1563px;
				height: 33px;
				left: 243px;
				top: 53px;
			}
 
 
				/* Ellipse 1 */
				#n103_36 {
					width: 39px;
					height: 39px;
					left: 198px;
					top: 50px;
				}
 
				/* Ellipse 2 */
				#n103_37 {
					width: 37.05px;
					height: 37.05px;
					left: 199.17px;
					top: 51.17px;
				}
 
				/* Ellipse 3 */
				#n103_38 {
					width: 33.15px;
					height: 33.15px;
					left: 199.95px;
					top: 52.73px;
				}
 
				/* Ellipse 4 */
				#n103_39 {
					width: 31.2px;
					height: 31.2px;
					left: 203.46px;
					top: 53.12px;
				}
 
				/* Ellipse 5 */
				#n103_40 {
					width: 27.3px;
					height: 27.3px;
					left: 203.46px;
					top: 54.6801px;
				}
 
				/* Ellipse 6 */
				#n103_41 {
					width: 23.4px;
					height: 23.4px;
					left: 206.58px;
					top: 57.02px;
				}
 
				/* Ellipse 7 */
				#n103_42 {
					width: 19.5px;
					height: 19.5px;
					left: 208.14px;
					top: 58.1899px;
				}
 
				/* Ellipse 8 */
				#n103_43 {
					width: 15.6px;
					height: 15.6px;
					left: 209.7px;
					top: 59.36px;
				}
 
				/* Ellipse 9 */
				#n103_44 {
					width: 11.7px;
					height: 11.7px;
					left: 212.43px;
					top: 61.7px;
				}
 
				/* Ellipse 10 */
				#n103_45 {
					width: 7.8px;
					height: 7.8px;
					left: 213.99px;
					top: 62.87px;
				}
 
				/* Ellipse 11 */
				#n103_46 {
					width: 3.9px;
					height: 3.9px;
					left: 215.94px;
					top: 64.04px;
				}
 
		/* Contacto */
		#n103_47 {
			font-family: "Abril Fatface";
			font-size: 20px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(113, 115, 72);
			vertical-align: middle;
			width: 84px;
			transform: translate(0px, 0px);
			line-height: 23.4375px;
			height: 27px;
			left: 858px;
			top: 57px;
		}
 
 
			/* (511) 2454998 */
			#n103_49 {
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(113, 115, 72);
				vertical-align: middle;
				width: 93px;
				transform: translate(0px, 0px);
				line-height: 16.4063px;
				height: 19px;
				left: 900px;
				top: 143px;
			}
 
			/* eva:phone-fill */
			#n103_50 {
				width: 24px;
				height: 24px;
				overflow: hidden;
				left: 858px;
				top: 141px;
			}
 
				/* Vector */
				#n103_51 {
					left: 8.33333%;
					right: 8.16665%;
					top: 8.33%;
					bottom: 8.33%;
				}
 
 
			/* kausachun.peru@gmail.com */
			#n103_53 {
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(113, 115, 72);
				vertical-align: middle;
				width: 186px;
				transform: translate(0px, 0px);
				line-height: 16.4063px;
				height: 19px;
				left: 899px;
				top: 107px;
			}
 
			/* ic:baseline-email */
			#n103_54 {
				width: 24px;
				height: 24px;
				overflow: hidden;
				left: 858px;
				top: 105px;
			}
 
				/* Vector */
				#n103_55 {
					left: 8.33333%;
					right: 8.33333%;
					top: 16.67%;
					bottom: 16.67%;
				}
 
		/* Line 1 */
		#n103_56 {
			left: 198px;
			width: 969px;
			top: 215px;
			height: 0px;
		}
 
		/* © 2020 Kausachun Perú. Todos los derechos reservados. */
		#n103_57 {
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(113, 115, 72);
			vertical-align: middle;
			width: 318px;
			transform: translate(0px, 0px);
			line-height: 14.0625px;
			height: 16px;
			left: 198px;
			top: 235px;
		}
 
	/* Conoce mas */
	#n103_58 {
		width: 1366px;
		height: 584px;
		overflow: hidden;
		background: rgb(239, 229, 224);
		top: 1753px;
	}
 
		/* image 5 */
		#n103_60 {
			background-image: url("https://s3-alpha-sig.figma.com/img/655a/f944/bb790c61b37a1d195a9c35d5ac28e4c5?Expires=1591574400&Signature=M75WbhkTYAi0oFFhheXIUQMgsQjz8~qvQrdTLIDChE~sdO03wvp5BuwRyuEsQ3dmo0pTNfR4HH55kkv6JGfG9UYcY-S88z-ALqSUJ-BunKGdC-aHZR7hW07qe0eMgIfUZ7HaNRMm-x3ZAB9qxlWf85KmRUoS3woKxvZDfAgX3lbmHZBpM-ctyNaYlCItBkBfAvImU7Gu4TREOo4R00C5pNqyZuULLRvligeEyyBsoTq6w3uKQuu177m~CIoDMJmrzffZmI1gQeezjw3aaKCffnkh8-2ZkWFN4OqpRpqtoOf2TCoVXSLwQ-xXyN~BIZX0a068OmBhExaf7FKZLtytgA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			left: 536px;
			width: 295px;
			top: 258px;
			height: 184px;
		}
 
		/* h27 1 */
		#n103_61 {
			background-image: url("https://s3-alpha-sig.figma.com/img/a130/cc03/014fee928893e95780b0218b96d94f52?Expires=1591574400&Signature=KL7HQiKeF-Ba1u1pq9MKHaJ~v-e4vGvDAo682yJCBjHFQbSjPMl7wAulD1nNWUvidEtDw5ik1Nh-PYIsNctpr8UFsSx-myIlLL~GFMFRnhzYS3K3iWJh~TD89lvyqMGuNP-iq-09-cDg2DocSmUxaBDRdXx4cfiR3A6T6GqHszSl3Rm-JQ96kwO4szIisjG01EpFaj73AEMKiaZRb5NJnEnU-mIZXCj0cGy~DRDuh3uYsI-AJweHcKClH9Zts6zqLTj9ff0PV7lAyjizYZ6eRC6hqzMPVTLh4aZ88skdv2HH9lUoyV3O9StS6cibvk4dw5zlh~wJFPWmLwLJXzd1ZA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			left: 877px;
			width: 296px;
			top: 258px;
			height: 184px;
		}
 
		/* Soy Campesino */
		#n103_62 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0px;
			color: rgb(2, 5, 13);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 121px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 22px;
			left: 281px;
			top: 472px;
		}
 
		/* La comunidad campesina en el Perú */
		#n103_63 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0px;
			color: rgb(2, 5, 13);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 288px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 22px;
			left: 539px;
			top: 472px;
		}
 
		/* Entidades Asociadas */
		#n103_64 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0px;
			color: rgb(2, 5, 13);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 163px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 22px;
			left: 944px;
			top: 472px;
		}
 
		/* Sobre el contenido que ofrecemos en esta página para el apoyo a la comunidad campesina. */
		#n103_65 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(2, 5, 13);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 880px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 22px;
			left: 243px;
			top: 166px;
		}
 
		/* Conoce más */
		#n103_66 {
			font-family: "Abril Fatface";
			font-size: 40px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(2, 5, 13);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 218px;
			transform: translate(0px, 0px);
			line-height: 46.875px;
			height: 54px;
			left: 575px;
			top: 90px;
		}
 
		/* h27 2 */
		#n103_141 {
			background-image: url("https://s3-alpha-sig.figma.com/img/0f4e/fbf2/470bf2102adb08fa56cc59110cabd05f?Expires=1591574400&Signature=PL3rRajQ9zLqBqe6LBaN3JFV0yVf9UnUI4knGr9FKNwViB~ScGte6NlB6vpKK3IqDAb-HyDaGR39r~6NbiiNLLQ1bDMcq1pZeX65Cjng9qHCoqixnyRFPY1o8D3ladv7DXqJOu5u88-EYtgojdAxR~35jRfIl1ElKs-CX3xOcaoqVL318L6CHRYbkJIGggyqPMrQx3xItssc3YKnU5P8RgzJa5DKxxEBuE07q7Qb0ix6PtGk53SyQFsk7sZsvPbeZErT-4G4Ym32-PX2sx25sQAZpZiApB7vYD7AKTiSos8lvp5~XnEE50SVmjJBazaXUZ8SbtuxrSxx~cXgM6H4GQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
			background-repeat: no-repeat;
			left: 194px;
			width: 296px;
			top: 258px;
			height: 184px;
		}
 
	/* Formulario */
	#n103_67 {
		width: 1366px;
		height: 1079px;
		overflow: hidden;
		background: rgb(29, 38, 16);
		top: 674px;
	}
 
 
			/* Rectangle 1 */
			#n103_69 {
				background: rgb(239, 229, 224);
				left: 618px;
				width: 130px;
				top: 949px;
				height: 50px;
			}
 
			/* Enviar */
			#n103_70 {
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 700;
				letter-spacing: 0px;
				color: rgb(29, 38, 16);
				vertical-align: middle;
				justify-content: flex-start;
				width: 57px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 25px;
				left: 655px;
				top: 962px;
			}
 
 
			/* Line 8 */
			#n103_72 {
				left: 250px;
				width: 400px;
				top: 356px;
				height: 0px;
			}
 
			/* Propuesta nueva */
			#n103_73 {
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				justify-content: flex-start;
				width: 111px;
				transform: translate(0px, 0px);
				line-height: 16.4063px;
				height: 19px;
				left: 256px;
				top: 327px;
			}
 
			/* Tipo de solicitud * */
			#n103_74 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 150px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 250px;
				top: 282px;
			}
 
			/* Line 2 */
			#n103_75 {
				left: 250px;
				width: 400px;
				top: 460px;
				height: 0px;
			}
 
			/* Nombres * */
			#n103_76 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 87px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 250px;
				top: 386px;
			}
 
			/* Line 3 */
			#n103_77 {
				left: 716px;
				width: 400px;
				top: 460px;
				height: 0px;
			}
 
			/* Apellidos * */
			#n103_78 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 91px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 716px;
				top: 386px;
			}
 
			/* Line 4 */
			#n103_79 {
				left: 250px;
				width: 400px;
				top: 564px;
				height: 0px;
			}
 
			/* Entidad/Empresa/Institución */
			#n103_80 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 244px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 250px;
				top: 594px;
			}
 
			/* Line 5 */
			#n103_81 {
				left: 716px;
				width: 400px;
				top: 564px;
				height: 0px;
			}
 
			/* Cargo */
			#n103_82 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 50px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 716px;
				top: 594px;
			}
 
			/* Line 6 */
			#n103_83 {
				left: 250px;
				width: 400px;
				top: 668px;
				height: 0px;
			}
 
			/* Teléfono o celular de contacto * */
			#n103_84 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 259px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 250px;
				top: 490px;
			}
 
			/* Detalle de su propuesta * */
			#n103_85 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 206px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 250px;
				top: 698px;
			}
 
			/* Line 7 */
			#n103_86 {
				left: 716px;
				width: 400px;
				top: 668px;
				height: 0px;
			}
 
			/* Correo Electrónico * */
			#n103_87 {
				font-family: "Abril Fatface";
				font-size: 18px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(166, 168, 111);
				vertical-align: middle;
				justify-content: flex-start;
				width: 171px;
				transform: translate(0px, 0px);
				line-height: 21.0938px;
				height: 24px;
				left: 716px;
				top: 490px;
			}
 
			/* Rectangle 11 */
			#n103_88 {
				box-shadow: rgb(166, 168, 111) 0px 0px 0px 1px inset;
				left: 250px;
				width: 866px;
				top: 756px;
				height: 143px;
			}
 
			/* bx:bxs-down-arrow */
			#n103_89 {
				width: 15px;
				height: 15px;
				overflow: hidden;
				left: 620px;
				top: 330px;
			}
 
				/* Vector */
				#n103_90 {
					left: 8.3431%;
					right: 8.3301%;
					top: 20.83%;
					bottom: 16.66%;
				}
 
		/* Llene los siguientes campos para enviar su propuesta. Nuestros encargados evaluará su solicitud y se comunicará con usted lo más pronto posible a través del medio de contacto que usted proporcione, sea vía teléfono o correo electrónico. * Campos obligatorios */
		#n103_93 {
			align-items: normal;
			color: rgb(239, 229, 224);
			vertical-align: middle;
			width: 723px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 88px;
			left: 250px;
			top: 144px;
		}
 
			/* Llene los siguientes campos para enviar su propuesta. Nuestros encargados evaluará su solicitud y se comunicará con usted lo más pronto posible a través del medio de contacto que usted proporcione, sea vía teléfono o correo electrónico. * Campos obligatorios Subset */
			#n103_93-5 {
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 18.75px;
				letter-spacing: 0px;
				align-items: normal;
				color: rgb(239, 229, 224);
			}
 
			/* Llene los siguientes campos para enviar su propuesta. Nuestros encargados evaluará su solicitud y se comunicará con usted lo más pronto posible a través del medio de contacto que usted proporcione, sea vía teléfono o correo electrónico. * Campos obligatorios Subset */
			#n103_93-0 {
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 18.75px;
				letter-spacing: 0px;
				align-items: normal;
			}
 
			/* Llene los siguientes campos para enviar su propuesta. Nuestros encargados evaluará su solicitud y se comunicará con usted lo más pronto posible a través del medio de contacto que usted proporcione, sea vía teléfono o correo electrónico. * Campos obligatorios Subset */
			#n103_93-5 {
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 18.75px;
				letter-spacing: 0px;
				align-items: normal;
				color: rgb(239, 229, 224);
			}
 
			/* Llene los siguientes campos para enviar su propuesta. Nuestros encargados evaluará su solicitud y se comunicará con usted lo más pronto posible a través del medio de contacto que usted proporcione, sea vía teléfono o correo electrónico. * Campos obligatorios Subset */
			#n103_93-4 {
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 18.75px;
				letter-spacing: 0px;
				align-items: normal;
				color: rgb(239, 229, 224);
			}
 
		/* Formulario de contacto */
		#n103_94 {
			font-family: "Abril Fatface";
			font-size: 40px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(166, 168, 111);
			vertical-align: middle;
			justify-content: flex-start;
			width: 430px;
			transform: translate(0px, 0px);
			line-height: 46.875px;
			height: 54px;
			left: 250px;
			top: 80px;
		}
 
	/* Portada */
	#n103_106 {
		width: 1366px;
		height: 674px;
		overflow: hidden;
		background: rgb(29, 38, 16);
	}
 
 
			/* Fondo */
			#n103_108 {
				width: 1366px;
				height: 674px;
			}
 
			/* Rectangle 6 */
			#n103_111 {
				background: rgba(0, 0, 0, 0.4);
				width: 1366px;
				height: 674px;
			}
 
		/* Quiero Apoyar */
		#n103_112 {
			font-family: "Abril Fatface";
			font-size: 40px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(239, 229, 224);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 270px;
			transform: translate(0px, 0px);
			line-height: 46.875px;
			height: 54px;
			left: 548px;
			top: 167px;
		}
 
		/* ¡El Perú Unido! Muchas entidades públicas y privadas ya se sumaron a esta iniciativa. Si tú tienes alguna propuesta o forma de apoyar, no dudes en escribirnos llenando el formulario de abajo. */
		#n103_113 {
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0px;
			color: rgb(239, 229, 224);
			vertical-align: middle;
			text-align: center;
			justify-content: center;
			width: 600px;
			transform: translate(0px, 0px);
			line-height: 18.75px;
			height: 66px;
			left: 383px;
			top: 289px;
		}
 
 
 
				/* Kausachun Perú */
				#n103_119 {
					font-family: Geo;
					font-size: 30px;
					font-weight: 400;
					letter-spacing: -2.4px;
					color: rgb(166, 168, 111);
					vertical-align: middle;
					justify-content: flex-start;
					width: 156px;
					transform: translate(0px, 0px);
					line-height: 35.1563px;
					height: 33px;
					left: 627px;
					top: 23px;
				}
 
 
					/* Ellipse 1 */
					#n103_121 {
						width: 39px;
						height: 39px;
						left: 582px;
						top: 20px;
					}
 
					/* Ellipse 2 */
					#n103_122 {
						width: 37.05px;
						height: 37.05px;
						left: 583.17px;
						top: 21.17px;
					}
 
					/* Ellipse 3 */
					#n103_123 {
						width: 33.15px;
						height: 33.15px;
						left: 583.95px;
						top: 22.73px;
					}
 
					/* Ellipse 4 */
					#n103_124 {
						width: 31.2px;
						height: 31.2px;
						left: 587.46px;
						top: 23.12px;
					}
 
					/* Ellipse 5 */
					#n103_125 {
						width: 27.3px;
						height: 27.3px;
						left: 587.46px;
						top: 24.68px;
					}
 
					/* Ellipse 6 */
					#n103_126 {
						width: 23.4px;
						height: 23.4px;
						left: 590.58px;
						top: 27.02px;
					}
 
					/* Ellipse 7 */
					#n103_127 {
						width: 19.5px;
						height: 19.5px;
						left: 592.14px;
						top: 28.19px;
					}
 
					/* Ellipse 8 */
					#n103_128 {
						width: 15.6px;
						height: 15.6px;
						left: 593.7px;
						top: 29.36px;
					}
 
					/* Ellipse 9 */
					#n103_129 {
						width: 11.7px;
						height: 11.7px;
						left: 596.43px;
						top: 31.7px;
					}
 
					/* Ellipse 10 */
					#n103_130 {
						width: 7.8px;
						height: 7.8px;
						left: 597.99px;
						top: 32.87px;
					}
 
					/* Ellipse 11 */
					#n103_131 {
						width: 3.9px;
						height: 3.9px;
						left: 599.94px;
						top: 34.04px;
					}
 
			/* Inicio */
			#n103_132 {
				font-family: "Abril Fatface";
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 140px;
				transform: translate(0px, 0px);
				line-height: 23.4375px;
				height: 27px;
				left: 142px;
				top: 26px;
			}
 
			/* Acerca de */
			#n103_133 {
				font-family: "Abril Fatface";
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 140px;
				transform: translate(0px, 0px);
				line-height: 23.4375px;
				height: 27px;
				left: 362px;
				top: 26px;
			}
 
			/* Soy Campesino */
			#n103_134 {
				font-family: "Abril Fatface";
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 140px;
				transform: translate(0px, 0px);
				line-height: 23.4375px;
				height: 27px;
				left: 863px;
				top: 26px;
			}
 
			/* Quiero Apoyar */
			#n103_135 {
				font-family: "Abril Fatface";
				font-size: 20px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 140px;
				transform: translate(0px, 0px);
				line-height: 23.4375px;
				height: 27px;
				left: 1083px;
				top: 26px;
			}
 
 
			/* bytesize:arrow-bottom */
			#n109_7 {
				width: 30px;
				height: 30px;
				overflow: hidden;
				left: 40px;
				top: 599px;
			}
 
 
					/* Vector */
					#n109_9 {
						left: 18.75%;
						right: 18.75%;
						top: 6.25%;
						bottom: 6.25%;
					}
 
			/* Scroll */
			#n109_10 {
				font-family: "Abril Fatface";
				font-size: 15px;
				font-weight: 400;
				letter-spacing: 0px;
				color: rgb(239, 229, 224);
				vertical-align: middle;
				text-align: center;
				justify-content: center;
				width: 20px;
				transform: translate(0px, 0px);
				line-height: 17.5781px;
				height: 42px;
				left: 44px;
				top: 547px;
			}
 
	/* Button Chat */
	#n103_136 {
		width: 50px;
		height: 50px;
		overflow: visible;
		left: 1276px;
		top: 579px;
	}
 
		/* Ellipse 13 */
		#n103_137 {
			width: 50px;
			height: 50px;
			box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 3px 0px;
		}
 
		/* cryptocurrency:chat */
		#n103_138 {
			width: 50px;
			height: 50px;
			overflow: hidden;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 3px 0px;
		}