.masthead {
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("/assets/Inicio/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.about-section {
  padding-top: 10rem;
  background: rgb(29, 38, 16);
}
.colorPastel {
  color: #efe5e0;
}
.black-background {
  background-color: #000000;
}
.colorTransparente {
  color: transparent;
}
.about-section2 {
  padding-top: 10rem;
  background: rgb(239, 229, 224);
}
.about-section p {
  margin-bottom: 5rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.inicio {
  top: 0px;
}

.letraAbril40 {
  font-family: "Abril Fatface", cursive;
  font-size: 2.2rem;
}

.letraOpenSans16 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.02rem;
}

.letraOpenSans18 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.02rem;
  font-weight: bold;
}

.letraOpenSans14 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
