.introduccion{
    background-image: url("../../../assets/SoyCampesino/Fondo1.png");
    background-size: cover;
    height: 80vh;
    width: auto;
    color: white;
}

.problemasCampesinos{
    background-color: #efe5e0;
    height: 60vh;
    width: auto;
}

.formularioContacto{
  background-color: #1D2610;
  height: 140vh;
  width: auto;
}

.conocemas{
  background-color: #efe5e0;
  height: 60vh;
  width: auto;
}
.campesinos {
    background-color: #efe5e0;
    height: 110vh;
    width: auto;
  }

.letraAbril40 {
    font-family: "Abril Fatface", cursive;
    font-size: 2.2rem;
  }
  .letraAbril40Form {
    font-family: "Abril Fatface", cursive;
    font-size: 2.2rem;
    text-align: left;
    color: #A7A970;
  }
  .letraOpenSans16 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.02rem;
    text-align: center;
  }
  .letraOpenSans16Form {
    font-family: "Open Sans", sans-serif;
    font-size: 1.02rem;
    color: #efe5e0;
  }

  .letraOpenSans16Label{
    font-family: "Abril Fatface", cursive;
    font-size: 1.02rem;
    text-align: left;
    color: #A7A970;
  }
  
  .letraOpenSans14 {
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
  }
  
  .textoTop {
    position: relative;
    top: 5vh;
    font-size: 2.5rem;
    left: 5vw;
  }
  
  .textoTopEnt {
    position: relative;
    top: 5vh;
    font-size: 2.5rem;
    left: 5vw;
  }
  
  .textoComplementario {
    position: relative;
    top: 6.2vh;
    left: 5vw;
    font-size: 1rem;
    width: 20rem;
  }
  .textoComplementarioEnt {
    position: relative;
    top: 6.2vh;
    left: 5vw;
    font-size: 1rem;
    width: 60vw;
  }
  
  .btnVerMas {
    position: relative;
    background-color: #02050D;
    color: #EFE5E0;
    top: 7.2vh;
    width: 9rem;
  }
  
  .card-img {
    width: 5rem;
    height: 5rem;
  }
  .card-img-conoce {
    width: auto;
    height: 8rem;
  }
  .card-text {
    width: 22rem;
  }
  
  .card-title {
    width: 22rem;
  }

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:  white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: transparent !important;;
}


.formulario{
  color: white;
}
