.topBar {
  color: #efe5e0;
  z-index: 2;
  position: fixed !important;
  width: 100%;
}

.colorWhite {
  color: #efe5e0 !important;
}

.colorBlack{
  color:black!important;
}
.fontMenu {
  font-family: "Abril Fatface";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.menuPosition {
  margin-left: 100px;
  margin-right: 50px;
}

.logo {
  padding-left: 80px;
}
