<div class="bg-transparent rounded position-sticky sticky-top">
	<div class="shadow bg-white rounded">
		<nav class="navbar navbar-expand-md navbar-light">
			<div class="collapse navbar-collapse order-1 order-md-0" id="itemCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item navItem">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item navItem">
						<a ngbDropdown class="nav-link">Acerca de</a>
					</li>
				</ul>
			</div>
			<div class="mx-auto my-2 order-0 order-md-1">
				<a class="navbar-brand mimos-titulo" href="/">
					<img src="assets/Logo.png" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#itemCollapse"
					aria-controls="itemCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse order-2 order-md-2" id="itemCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item navItem">
						<a class="nav-link" href="#bodySection">Soy Campesino</a>
					</li>
					<li class="nav-item navItem">
						<a class="nav-link" href="#contactanosSection">Quiero Apoyar</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
