.topBar {
  color: #efe5e0;
  z-index: 2;
  position: absolute !important;
  width: 100%;
}

.colorWhite {
  color: #efe5e0 !important;
}

.fontMenu {
  font-family: "Abril Fatface";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.menuPosition {
  margin-left: 100px;
  margin-right: 50px;
}

.logo {
  padding-left: 80px;
}

.dropdown-menu {
  background-color: #02050d;
  border: none;
}

.dropdown-item {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #efe5e0;
}

.dropdown-item:hover {
  background-color: #efe5e07c;
}
